@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-sephiroth: #0d0917;
  --color-body-text: #d1c8e6;
  --color-primary-highlight: #905ebd;
  --color-secondary-highlight: var(--color-teal-300);
  --color-primary-icon: #c58ef5;
  --inset-shadow-slide: inset 0 1px 0 0 rgba(148, 163, 184, .1);
  --animate-gradient-slide-in: gradientSlideIn 1s ease-in-out forwards;
  --animate-gradient-slide-out: gradientSlideOut 1s ease-in-out forwards;
}

.nav-link {
  @apply 
  text-transparent
  uppercase bg-clip-text saturate-200
  transition-all duration-300 ease-in-out inline-block
  bg-no-repeat bg-white
}

.scroller {
  @apply w-full;
}

.scroller[data-speed="fast"] {
  --scroll-speed: 20s;
}

.scroller[data-speed="medium"] {
  --scroll-speed: 40s;
}

.scroller[data-speed="slow"] {
  --scroll-speed: 60s;
}

.scroller[data-animated="true"] {
  @apply overflow-hidden;
  mask: linear-gradient(90deg,transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg,transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  @apply flex-nowrap w-max;
  animation: scroll var(--scroll-speed) linear infinite;
}

.scroller[data-animated="true"]:hover .scroller-inner {
  animation-play-state:paused;
}

html,
body {
  @apply scroll-smooth scroll-pt-10;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2rem));
  }
  
}


@keyframes gradientSlideIn {
  0% {
    background-size: 0%;
    background-image: linear-gradient(to top right, #905ebd, #2dd4bf);
  }
  100% {
    background-size: 100%;
    background-image: linear-gradient(to top right, #905ebd, #2dd4bf);
  }
}

@keyframes gradientSlideOut {
  0% {
    background-size: 100%;
    background-image: linear-gradient(to top right, #905ebd, #2dd4bf);
  }
  100% {
    background-size: 0%;
    background-color: white;
  }
}